[submodule "scipy_proceedings"]
	path = scipy_proceedings
	url = git@github.com:leouieda/scipy_proceedings.git
[submodule "presentation/reveal.js"]
	path = presentation/reveal.js
	url = git@github.com:leouieda/reveal.js.git
[submodule "presentation/nbconvert"]
	path = presentation/nbconvert
	url = git@github.com:leouieda/nbconvert.git
